<!DOCTYPE html>
<html>
  <head>
    <title>Annotator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <%= favicon_link_tag 'favicon.ico' %>
    <script type="text/javascript">
      <% if logged_in? %>
          window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %>
      <% end %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
